@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&family=Roboto&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.login-div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 5px;
    background: linear-gradient(90deg, rgba(232, 33, 33, 1) 0%, rgba(2, 0, 36, 1) 100%, rgba(255, 0, 0, 0.47102591036414565) 100%);
}

.login-div a > .register {
    border: 1px solid white;
}

.login-div a {
    text-decoration: none;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: white;
    padding: 10px;
}

.login-div a:hover {
    background-color: white;
    color: black;
}

.landing {
    position: relative;
    min-height: 80vh;
    background: linear-gradient(90deg, rgba(232, 33, 33, 1) 0%, rgba(2, 0, 36, 1) 100%, rgba(255, 0, 0, 0.47102591036414565) 100%);
}

.first-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
}

.first-section h1 {
    font-size: 5vh;
    font-family: "Poppins", sans-serif;
    font-weight: 350;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.buttons button {
    width: 50%;
    padding: 1rem;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;

}

.buttons button:hover {
    background-color: transparent;
    color: #FFFFFF;
    padding: 30px;
}

.first-section span.starting a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: aliceblue;
    margin-top: 100px;
}

.first-section span.starting a:hover {
    color: black;
    transition: 0.5s;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 5px;
}

/* WAVY BACKGROUND */
.custom-shape-divider-bottom-1656154786 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1656154786 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 46px;
}

.custom-shape-divider-bottom-1656154786 .shape-fill {
    fill: #FFFFFF;
}


/* START OF FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #ebebe7;
}

.footer h6 {
    font-size: 2em;
}

.footer a {
    text-decoration: none;
    font-size: 1em;
    color: black;
    font-family: "Poppins", sans-serif;
}

.footer i {
    color: black;
    padding: 5px;
}

.footer a:hover {
    color: red;
    cursor: pointer;
}

/* END OF FOOTER */



/*START OF NAVBAR DESIGN*/


.navbar {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(90deg, rgba(232, 33, 33, 1) 0%, rgba(2, 0, 36, 1) 100%, rgba(255, 0, 0, 0.47102591036414565) 100%);
    ;
}

a.nav-link {
    color: white !important;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

a.nav-link:hover {
    border-bottom: 2px solid #FFFFFF;
    color: rgba(232, 33, 33, 1) !important;
    transition: 0.5s;
}

a.dropdown-item {
    color: black;
}

ul.dropdown-menu.show {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: end;
}

@media screen and (min-width: 992px) {
    ul.dropdown-menu.show {
        display: flex;
        flex-direction: column;
    }
}

/*END OF NAVBAR DESIGN*/